<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    {% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/x-scss" href="node_modules/font-awesome-animation.scss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'Polls/style_index.css' %}">
        

    {% endblock %}

    <title>    
        {% block title %}
            Chat lite
        {% endblock %}
    </title>
    
</head>

<body>

    <div >

        <div class=" bg-danger sidebar">
            
            <i type="button" class=" p-3  fas fa-plus" data-toggle="modal" data-target="#exampleModal"></i>
            
            {% for chat in chats %}
            <hr>
            
            <a href="chats/{{ chat.id }}" class="text-dark">
                <i  type="button"  class=" p-3 fas fa-comment-dots"></i>
            </a>
            
            <hr>
     

            {% endfor %}
            
            
        </div>

    </div>

   

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Chat</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <form method="POST"  action=""  class = "modal_form">
                
                {% csrf_token %}

                <div class="modal-body">


                    <input type="hidden"  name="createChat" value="1">
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Title</label>
                        <input name="TitleChat" value=""  class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Enter description</label>
                        <textarea name="DescChat"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">add chat</button>
                </div>
            </form>
          </div>
        </div>
      </div>

    <div class="container p-5 ">

 
        <div class="bg-warning ">



            <div class=" p-2">


                <div class="chatPlace  "> 
                    
                {% block content %}
                
                {% endblock %}

                </div>

            </div>

            <form class="p-3" action="" method="post">
                {% csrf_token %}
                <input name="name" value="" class="form-control" placeholder="Enter your name">
                <input name="textInput" value="" class="form-control" placeholder="Enter message">
                <button type="submit" class="btn btn-primary col">Send</button>
            </form>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'Polls/js/PlusChat.js' %}"></script>
    <script>



        id_array = []
        // setInterval(function() {
        
        //     $.getJSON('/messages', function(data) {    

                
        //         jsonMessages = data["messages"];
 

        //         for (i= 0 ;i< jsonMessages.length;++i){
        //             // text = jsonMessages[i]["TEXT"] 
        //             // username = jsonMessages[i]["USERNAME"]
        //             // id = jsonMessages[i]["ID"]

        //             console.log();

        //             // if (!id_array.includes(id)){
        //             //     id_array.push(id)
        //             //     $('.chatPlace').append(`<h3 class = "message bg-secondary p-2 m-3">${username}: ${text} </h3>`)
    
        //             // }


        //         }
            
        //     });


            

        // },2000);


        
        




    </script>



</body>

</html>