



body{

    background-color: brown ;
}

.sidebar{
    position: relative;
    height: auto;
    width: 150px;
   
}

.scroll_sidebar{
    position:absolute;
    overflow-y: scroll;
    height: 100%;
  
}



.sidebarIcons{

   padding:20px;



}






