

.reg_con{

    padding: 40px;
    margin-top: 5%;
    background-color: orange;
    margin-left: 40%;
    margin-right: 40%;

    

    border: solid;


}

@media only screen and (max-width: 1000px) {

    .reg_con{
        margin-left: 10%;
        margin-right: 10%;
    
    }


}


.reg_button {
    margin-top: 10px;
    
}

body{

    background-color: brown ;

}